body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:1.2em;
    margin:0;
}
div.logo {
    margin: auto;
    text-align:center;
    max-height:100%;
    max-width:100%;

    img {
    max-height:80vh;
    max-width:80vw;
    }
}
h1 {
text-align:center;
}
h3 {
//text-align:center;
}
#main {
    max-width:700px;
    margin: 10px auto;
}
span.link-comment {
    font-size: 0.8em;
    color: #22f;
}
#footer {
background-color:#ffde59;
padding:0.5em 3em;
margin:0;
 p {
    margin:0;
 }
}
